body {
  background-color: black;
}

.searchbar{
  height: 55px;
  width: 950px;
  background-color: #FFF;
  margin: 0 auto;
  border-top-left-radius: 20px;
  text-align: center;
}

/* Removes placeholder when on Blure (Credit: https://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery) */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.searchButton{
  height: 64px;
  width: 128px;
  margin: 0 20px;
  background: linear-gradient(136.83deg, #F96 0%, #FF5E62 100%);
  border-bottom-right-radius: 20px;
}

.searchButton{
  cursor: pointer;

}

.fa-search{
  color: white;
  font-size: 30px;

}

.fa-search:hover {
  cursor: pointer;
}
