h1{
  color: white;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.div-header{
  display: flex;
}


.pages-header{
  color: white;
  display: inline;
  padding: 10px 0;
  margin: 0 15px;
  cursor: pointer;
}

.selected-page-header{
  color: #FF5E62;
  border-bottom: solid #FF5E62 1px;
}
.pages-header:hover{
  color: #FF5E62;
  border-bottom: solid #FF5E62 1px;
}
.profile-link-header{
  display: inline;
  float: right;
  padding-top: 15px;
  padding-left: 60%;
}



.logo-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 50px
}

.logo-img{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.logo-big{
  padding-top: 50px
}

.logo-small{
  width: 20%;
  height: auto;
  margin-top: -50px;
  padding-top: 0px;
  padding-bottom: 50px;
}

.skilldb-big{
  	height: 38px;
    width: 99px;
    color: #F96;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;

}

.hidden{
  display: none;
}


.searchbar{
  height: 55px;
  width: 950px;
  background-color: #FFF;
  border-top-left-radius: 20px;
  text-align: center;
}

/* Removes placeholder when on Blure (Credit: https://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery) */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.searchButton{
  height: 64px;
  width: 128px;
  margin: 0 20px;
  background: linear-gradient(136.83deg, #F96 0%, #FF5E62 100%);
  border-bottom-right-radius: 20px;
  cursor: pointer;
}


.fa-search{
  color: white;
  font-size: 30px;

}

.fa-search:hover {
  cursor: pointer;
}


.searchbar-contianer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.suggestions{
  color: white;
  margin: 15px;
  margin-left: 60px;
  margin-top: 25px;
}

.suggestion-box{
  margin: 25px;
}


.suggestion-text{
  color: white;
  font-weight: 400;
  border: solid white 1px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.suggestion-text:hover{
  cursor: pointer;
  /* background-color: grey; */
}







/*All css for the Search Results*/
/*All css for the Search Results*/
/*All css for the Search Results*/
/*All css for the Search Results*/
/*All css for the Search Results*/
/*All css for the Search Results*/

/*All css for the Search Results HEADER*/

.searchresult-header{
  color: grey;
  text-transform: uppercase;
  margin: 85px 100px 5px 100px;

}
.algin-header{
  display: flex;
}


#skill-level{
margin-left: 20%;
}
#skill-level:hover{
  cursor: help;
}
#will-level{
  margin-left: 3%
}
#will-level:hover{
  cursor: help;
}


/* Tooltip container */
.tooltip {

    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    text-transform: lowercase;
    top: 100%;
    left: 50%;
    margin-left: -60px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*All css for the Search Results PROFILES*/

.div-name{
  width: 30%;
}
.div-department{
  width: 15%;
}
.div-skill{
  width: 15%;
}
.div-level-will{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.searched-profile{
  color: white;
  margin: 20px 0;
  display: flex;
}
.complete-searched-profiles{
  margin: 0 100px;
}

.div-skillLevel{
  display: inline-block;
  padding-left: 0%;
}
.div-willLevel{
  display: inline-block;
  padding-left: 3%;
}
.skillLevel{
  color: white;
}
.div-slack{
  padding-left: 0%;
}

.profilepic{
  width: 20px;
  height: auto;
  border-radius: 50%;
  margin: 0 0;
  display: inline-block;
}

.slack{
  width: 20px;
  height: auto;
}
.tutor-not-displayed{
  visibility: hidden;
}
.tutor{
  color: white;
  font-size: 8px;
  padding: 5px;
  background: linear-gradient(136.83deg, #F96 0%, #FF5E62 100%);
}

/*MODAL*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: black;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: solid white 1px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#header-profileoverview-button{
  padding: 0;
  margin: 0;
  margin-left: 10px;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
}
#close-profile-overview{
  color: grey;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#close-popup{
  background-color: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

#close-popup{
  width: 100%;
  padding-left: 90%;
  padding-top: 15px;

}
/*ProfileOverview*/
